.DataTable {
  position: relative;
  .line() {
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 1.6em;
    background-color: #e6e9f0;
    transform: translateY(-50%);
    transition: background-color 0.3s;
    content: '';
  }
  .ant-table-wrapper {
    .ant-table {
      .ant-table-content {
        .ant-table-body,
        .ant-table-fixed-right {
          table {
            thead {
              tr {
                th {
                  position: relative;
                  &:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not(.ant-table-expand-icon-th):not([colspan])::before {
                    .line();
                  }
                }
              }
            }
          }
        }
        .ant-table-fixed-left {
          table {
            thead {
              tr {
                th {
                  position: relative;
                  &:not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not(.ant-table-expand-icon-th):not([colspan])::before {
                    .line();
                  }
                }
              }
            }
          }
        }
      }
    }
    .ant-table-scroll-position-middle,
    .ant-table-scroll-position-right {
      .ant-table-fixed-left {
        table {
          tr {
            th.ant-table-row-cell-last::before {
              background-color: transparent !important;
            }
          }
        }
      }
    }
  }
  .checkedClear {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 64px;
    line-height: 32px;
    padding: 16px 0;
  }
}
