.head-searchbar-panel {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;

  &.head-searchbar-show-button {
    padding-right: 170px;
    &.head-searchbar-not-collapse,
    &.head-searchbar-collapsed {
      padding-right: 220px;
    }
  }

  &.head-searchbar-not-collapse,
  &.head-searchbar-collapsed {
    padding-right: 90px;
  }

  .head-searchbar-toolbar > button:first-child {
    margin-right: 10px;
  }

  .ant-form-item {
    margin-bottom: 16px;
  }
  .head-searchbar-fieldsbox
    > .head-searchbar-col-nolabel
    .ant-form-item
    .ant-form-item-control-wrapper {
    width: 100%;
  }
  &.head-searchbar-not-collapse .head-searchbar-fieldsbox {
    height: auto;
  }
  .head-searchbar-toolbar {
    position: absolute;
    right: 0px;
    top: 4px;
  }
}
